.formulario {
    margin-top: 3rem;
    padding: 1rem;
    background: #fff;
    text-align: center;
    flex: 1;
}

.contenedorInfo {
    padding: 1rem;
}

button.button {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
    background-color: #d9534f;
    padding: 0.625rem 1.25rem;
    border-radius: 0.5rem;
}

button.button:hover {
    background-color: #c9302c;
}

h1 {
    font-size: 1.5rem;
}

footer {
    background-color: #f8f8f8;
    padding: 1rem;
    text-align: center;
    margin-top: auto;
}


.navbar
{
    margin-top: 2rem;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
}
.navbar a
{
    display: block;
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: black;
    background-color: #f5f5f5;
    border: 1px solid lightgray;
    width: 10%;
    text-align: center;
}


/*--------------------------------------------------------------------*/
@media (max-width: 1223px) {
    
    .navbar a{
        width: 20%;
    }
}


@media (max-width: 611px) {

    .navbar {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;
    }

    .navbar a{
        width: 40%;
    }
}

@media (max-width: 305px) {

    .navbar a{
        width: 60%;
    }
}