.body
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar
{
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.navbar a
{
    display: block;
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: black;
    background-color: #f5f5f5;
    border: 1px solid lightgray;
    width: 10%;
    text-align: center;
}
.calendar_section
{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
}
.calendar_title
{
    font-size: 2rem;
}
.calendar_container
{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(7, 14.28571429%);
    z-index: 0;
}
.calendar_day
{
    text-align: center;
}
.calendar_item
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: whitesmoke;
    border: 1px solid lightgray;
}
.calendar_item_disabled
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}
.calendar_item_courses_container
{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.calendar_item_course
{
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 0px;
    margin-bottom: 1rem;
    background-color: blue;
    color: white;
}
.pop_up_container
{
    z-index: 1;
}
.course_pop_up
{
    display: grid;
    position: fixed;
    border-radius: 1rem;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    top: calc(50% - min(50vw, 50vh)/2);
    left: calc(50% - min(50vw, 50vh)/2);
    height: min(50vw, 50vh);
    width:  min(50vw, 50vh);
    z-index: 1;
    grid-template-areas: "empty-1 empty-2 close"
                         "empty-1 title empty-3"
                         "empty-1 description empty-3"
                         "empty-1 more empty-3";
    grid-template-columns: 10% 80% 10%;
}
.pop_up_course_X
{
    justify-self: center;
    align-self: center;
    grid-area: close;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    border: 0px;
    color: white;
    background-color: red;
}
.pop_up_course_X:hover
{
    background-color: darkred;
}
.pop_up_course_title
{
    grid-area: title;
}
.pop_up_course_description
{
    grid-area: description;
}
.pop_up_course_button
{
    grid-area: more;
    color: white;
    text-decoration: none;
    background-color: blue;
    border-radius: 1rem;
    padding: 1rem;
    width: fit-content;
    height: fit-content;
}
.pop_up_course_button:hover
{
    background-color: darkblue;
}

.calendar_item_course:hover
{
    width: auto;
    white-space: inherit;
    overflow: visible;
    text-overflow: inherit;
}

@media screen and (max-width: 768px) {
    .calendar_container
    {
        width: 95vw;
    }
    .calendar_item, .calendar_item_disabled
    {
        font-size: 0.7rem;
    }
    .calendar_item_courses_container
    {
        font-size: 0.8rem;
        width: 100%;
    }
    .calendar_item_course
    {
        padding: 0.25rem;
        border-radius: 0.5rem;
        margin-bottom: 0.5rem;
        text-decoration: none;
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1040px){
    .calendar_item_courses_container
    {
        font-size: 0.8rem;
        width: 100%;
    }
    .calendar_item_course
    {
        padding: 0.25rem;
        border-radius: 0.5rem;
        margin-bottom: 0.5rem;
        text-decoration: none;
        width: 100%;
    }
}