.body
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar
{
    margin-top: 2rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.navbar a
{
    display: block;
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: black;
    background-color: #f5f5f5;
    border: 1px solid lightgray;
    width: 9%;
    text-align: center;
}
.calendar_section
{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.calendar_title
{
    font-size: 2rem;
}
.calendar_nav
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar_nav_button
{
    text-decoration: none;
    color: gray;
    border-radius: 1rem;
    border: 1px solid gray;
    padding: 0.5rem;
    margin: 0 1rem;
}
.calendar_container
{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(7, 14.28571429%);
}
.calendar_day
{
    text-align: center;
}
.calendar_item
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: whitesmoke;
    border: 1px solid lightgray;
}
.calendar_item_disabled
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}
.calendar_item_courses_container
{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.calendar_item_course
{
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    background-color: blue;
    color: white;
}

.calendar_item_course:hover
{
    width: auto;
    white-space: inherit;
    overflow: visible;
    text-overflow: inherit;
}

@media screen and (max-width: 480px) {
    .calendar_container
    {
        width: 98vw;
    }
    .calendar_item, .calendar_item_disabled
    {
        font-size: 0.7rem;
    }
    .calendar_item_courses_container
    {
        font-size: 0.8rem;
        width: 100%;
    }
    .calendar_item_course
    {
        padding: 0.25rem;
        border-radius: 0.5rem;
        margin-bottom: 0.5rem;
        text-decoration: none;
        width: 100%;
        white-space: inherit;
        overflow: scroll;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){
    .calendar_item_courses_container
    {
        font-size: 0.8rem;
        width: 100%;
    }
    .calendar_item_course
    {
        padding: 0.25rem;
        border-radius: 0.5rem;
        margin-bottom: 0.5rem;
        text-decoration: none;
        width: 100%;
        white-space: inherit;
        overflow: scroll;
    }
}