
.contenedorDetalle {
    margin-top: 2%;
    display: flex;
    gap: 5rem;
    border: lightcoral;
    padding: 1.25rem; 
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); 
    width: 90%;
    justify-content: center;
    align-items: center;
}

.fotoCurso {
    margin-top: 1.5rem;
}

.contenedorBotonIns {
    display: flex;
    justify-content: center;
}

.btnInscripcion{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    padding: 0.625rem 1.25rem; 
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
}

button:hover {
    background-color: #45a049;
}

.detallesCurso p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.detallesCurso ul li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tituloContenidos {
    margin-top: 5rem;
    font-size: 2rem;
}



.detallesCurso p {
    text-align: justify;
}


/* ----------------------------------------------------------------------------- */

.contenedorContenidos {
    width: 100%;
    max-width: 40rem;
    margin: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
}

.contenedorTituloCurso {
    width: 100%;
    padding: 1rem;
    text-align: left;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    font-size: 1rem;
    font-weight: bold;
}

.contenido {
    display: block; /* Siempre visible */
    padding: 1rem;
    background-color: #fff;
}

.contenedorUnidadClases {
    list-style-type: none;
    padding: 0;
}

.leccion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid lightgray;
}

.icono {
    margin-right: 1rem;
    font-size: 1.25rem;
}

.tituloClases {
    flex-grow: 1;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.duracion {
    margin-right: 1rem;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.completado input[type="radio"] {
    accent-color: #4CAF50;
}

/* ----------------------------------------------------------------------------- */

.contenedorDocente {
    width: 40rem;
    background-color: #e0e0e0;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    margin-top: 5rem;
}

.contenedorFotoNombre {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 1rem;
}

.fotoDocente img {
    width: 4rem;
}

.calificacionDocente {
    display: flex;
    flex-direction: column;
}

.name-rating h2 {
    font-size: 1.5em;
    color: #333;
}


.estrellasCalificacion img {
    width: 1rem;
}


.descripcionDocente p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    text-align: justify;
}

/* ------------------------------------------------------------------------------------------- */

.contenedorRecomendados {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 80%;
}


.contenedorTituloCursoRecomendados {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: paleturquoise;
    border-radius: 2%;
}

.tituloCursosRecom {
    margin-top: 4rem;
    font-size: 2rem;
    text-align: center;
}


/*--------------------------------------------------------------------*/
@media (max-width: 1223px) {
    .navbar {
        flex-flow: row nowrap;
        align-items: center;
        gap: 1rem;
        width: 80%;
    }

    .navbar a{
        width: 30%;
    }
}

@media (max-width: 801px) {
    .navbar {
        flex-flow: column nowrap;
        align-items: center;
        gap: 1rem;
        width: 80%;
    }
}

@media (max-width: 768px) {
    .contenedorDetalle {
        flex-direction: column;
    }

    .contenedorRecomendados{
        width: 50%;
    }

    .contenedorDocente{
            width: 70%;
    }

    .detallesCurso h2 {
        text-align: center;
    }
}

/* Media query para pantallas pequeñas 480px == 30rem */
@media (max-width: 30rem) {

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        padding: 0.5rem;
        width: 50%;
        margin: 0.5rem 0;
    }

    .contenedorDetalle {
        flex-direction: column;
        width: 90%;
        gap: 2rem;
    }

    .contenedorContenidos, .contenedorDocente {
        width: 90%;
    }


    .fotoCurso {
        margin-top: 0;
    }

    .btnInscripcion {
        font-size: 0.875rem;
        padding: 0.5rem 1rem;
    }

    .tituloContenidos {
        font-size: 1.5rem;
    }

    .contenedorFotoNombre {
        flex-direction: column;
        text-align: center;
    }

    .fotoDocente img {
        width: 3rem;
    }

    .name-rating h2 {
        font-size: 1.25rem;
    }

    .descripcionDocente p {
        font-size: 1rem;
    }

    .contenedorRecomendados {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .contenedorTituloCursoRecomendados {
        width: 90%;
    }
}


