.contenedorPago
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
}
.formularioPago
{
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70%;
    width: 50%;
}
.formularioPago h4
{
    width: 100%;
    text-align: center;
}
.formularioPagoFila
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.formularioPagoFila *
{
    width: 50%;
    text-align: center;
}
.formularioPagoFila input
{
    height: 100%;
    border: 1px solid black;
    border-radius: 0.25rem;
}
.formularioPago button
{
    background-color: #2164d6;
    color: #fff;
    border: none;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 2px solid lightgray;
    align-self: center;
    cursor: pointer;
    font-size: 1rem;
}

@media screen and (max-width: 480px) {
    .formularioPagoFila *
    {
        font-size: 0.6rem;
    }
}
@media screen and (max-width: 767px){
    .formularioPago
    {
        width: 80%;
    }
}