#header
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 4rem;
    border-bottom: 1px solid lightgray;
}
#footer
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20rem;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    border-top: 1px solid lightgray;
}
.footer_item
{
    display: block;
    width: 25%;
    height: 10rem;
    border: 1px solid lightgray;
}
.footer_item *
{
    margin-left: 20%;
    list-style: none;
    padding-left: 0;
}
.footer_item ul li
{
    margin-left: 0;
}
.footer_item ul li a
{
    margin-left: 0;
}
.footer_item *
{
    text-decoration: none;
    color: black;
}

