*
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body
{
    margin: 0;
}
#header
{
    position: sticky;
    background-color: whitesmoke;
    top: 0;
    z-index: 1;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
    align-items: center;
    height: 4rem;
    border-bottom: 1px solid lightgray;
}
body *
{
    z-index: 0;
}
.logo
{
    padding: 0.5rem;
    grid-column: 1;
    font-size: 2rem;
    text-decoration: none;

}
.logo_black
{
    color: black;
}
.logo_blue
{
    color: blue;
}
.search_bar
{
    justify-self: center;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    height: 2rem;
}
.search_bar input
{
    border: 1px solid lightgray;
    padding: 0 1rem 0 1rem;
    border-radius: 1rem;
    margin-right: 0.5rem;
}
.search_bar button
{
    color: black;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    padding: 0 0.5rem 0 0.5rem;
    border-radius: 1rem;
    margin-left: 0.5rem;
}
.search_bar button:hover
{
    background-color: lightgray;
}
.cart_logo
{
    background: no-repeat center url(../imagenes/carrito.png);
    background-size: 80%;
    border-radius: 1rem;
    grid-column: 3;
    justify-self: right;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 2rem;
    height: 2rem;
    color: white;
    text-decoration: none;
    padding: 0;
    border: 0;
}
.cart_logo:hover
{
    background-color: lightgray;
}
.cart_logo span
{
    font-size: 0.5rem;
    padding: 0.25rem;
    background-color: red;
    border-radius: 1rem;
}
#cart_sidebar
{
    display: none;
    border-left: 1px solid lightgray;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 5% 90% 5%;
    grid-template-areas:"X empty empty"
                        "empty-2 content empty-3"
                        "empty-2 empty-4 empty-3";
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
}
#close_sidebar_button
{
    grid-area: X;
    border: 0;
    background-color: red;
    color: white;
}
#close_sidebar_button:hover
{
    background-color: darkred;
    color: lightgray;
}
.empty_cart_text
{
    font-weight: bold;
    font-size: 1.5rem;
}
.empty_cart_text, .contenedorCarrito
{
    display: none;
    grid-area: content;
}
.subtituloCarrito {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #d3d3d3;
    color: #000;
    font-weight: bold;
}
.filaCarrito {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #fff;
    color: #000;
    border-bottom: 2px solid #d3d3d3;
}
.btnsAccionCarrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}
.btnContinuarPago {
    background-color: #2164d6;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}
#navbar_back_and_home
{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
#navbar_back_and_home a
{
    display: block;
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: black;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    text-align: center;
}
#navbar_back_and_home a:hover
{
    background-color: lightgray;
}
.modal
{
    border: 1px solid lightgray;
    border-radius: 1rem;
}
#footer
{   
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    width: 100%;
    justify-content: space-around;
    align-items: top;
    margin-top: 2rem;
}
.footer_item
{   
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border: 1px solid lightgray;
}

.footer_item *
{   
    width: 100%;
    list-style: none;
    text-align: center;
}
.footer_item ul li
{   
    text-align: justify;
    color: white;
    margin-bottom: .5rem;
    width: 80%;
}
.footer_item ul li a:hover
{
    text-decoration: underline;
}
.footer_item *
{   
    text-decoration: none;
    color: rgb(255, 255, 255);
}



@media screen and (max-width: 480px){
    .hide_on_mobile
    {
        display: none;
    }
    #header
    {
        height: 5rem;
    }
    .footer_item ul li
    {
        margin-bottom: 2rem;
    }
    #cart_sidebar
    {
        width: 100vw;
    }
    .subtituloCarrito, .filaCarrito
    {
        font-size: 0.5rem;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px){
    .hide_on_tablet
    {
        display: none;
    }
    #cart_sidebar
    {
        width: min(40rem, 100vw);
    }
}
@media screen and (min-width: 769px){
    .hide_on_desktop
    {
        display: none;
    }
    .logo_tiny
    {
        display: none;
    }
    .footer_item
    {
        width: 25%;
    }
    #cart_sidebar
    {
        width: 40rem;
    }
}

@media screen and (max-width: 768px){
    .logo_desktop
    {
        display: none;
    }
    .search_bar input
    {
        width: 20vw;
        margin-right: 2vw;
    }
    .search_bar button
    {
        margin-left: 2vw;
    }
    .footer_item
    {
        width: 80%;
    }
}